/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *{
   margin:0;
   padding:0;
   box-sizing: border-box;
 }

 header{
   width:100%;
   margin:20px;
 }

 .top-text1{
   width:100%;
   margin:30px;
 }

 .top-text2{
   width:100%;
   margin:30px;
 }

 .top-link{
   width:100%;
   margin:30px;
 }
/*トップ画面*/

.flash{
  width:100%;
  margin:50px;
}

.show-main{
  width:100%;
  text-align:center;
  margin:30px;
}

.show-main-title{
  display:flex;
  margin:20px;
}

.show-main-body{
  display:flex;
  margin:20px;
}

.show-link{
  width:100%;
  margin:15px;
}
/*詳細画面*/


.edit-body{
  width:100%;
  margin:20px;
}

.edit-link{
  margin-top:10px;
}
/*編集画面*/

.index-header{
  width:100%;
  margin:20px;
}

td{
  padding:5px;
}

/*一覧画面*/